/* Title Page  */


.carouselArrow {
    width: 40px !important;
    height: 40px !important;
}
.main-text {
    color: #fff;
    position: absolute;
    padding-top: 50px;
    top: 70px;
    width: 96.6667%;
}

.carousel-item {
    opacity: 80%;
}

.title-message {
    font-size: 8vw !important;
    font-family: 'Roboto', sans-serif;
    text-shadow: black 1px 0px 10px;
}

.title-message2 {
    font-size: 3vw !important;
    font-family: 'Roboto',sans-serif;
    text-shadow: black 1px 0px 10px;
}

