/* Cards */
* {
  font-family: "Courier New", Courier, monospace;
}

.articles {
  background-color: #eeeee6;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
}

.card-friday {
  top: -50px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  margin: 0 1rem 0.5rem 6rem;
  padding: 0;
  border-style: none;
  width: 24%;
}
.friday-card-heading {
  font-weight: 500;
}

.card-saturday {
  /* margin-left: 12rem;
  margin-top: 3rem; */
  margin: 4rem 0rem 0.5rem 15rem;
  padding: 0;
  height: 60%;
}

.card-stay-in-contact {
  width: 20%;
  margin-left: 9rem;
  margin-bottom: 2rem;
  margin-top: 0;
}
