h1,
p,
h2 {
  font-family: "Courier New", Courier, monospace;
}

.articles-section {
  background-color: #eeeee6;
  display: flex;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
}

.lunch-card {
  top: -50px;
}

.saturday-card {
  top: 2rem;
  height: 20%;
}

.lunch-card,
.saturday-card {
  margin: 0 8rem;
  padding: 0;
  border-style: none;
}

.wine-card,
.connected-card,
.hello-card {
  padding: 0;
  margin: 3rem;
  width: 70%;
}

.wine-card {
  margin-top: 7rem;
}

@media (max-width: 972px) {
  .lunch-card {
    /* top: 0px; */
    margin-top: 7rem;
  }
}
