<section class="section bg-light ">
    <!-- botones -->
    <button class="btn btn-dark btn-lg btn-block"(click)='buyProducts()'>Ir al carrito</button>
    <!-- cards -->
    <h1 class="text-center m-4 text-dark">Platos Fuertes</h1>

      <div class="d-flex justify-content-center flex-wrap m-3">
        <div *ngFor="let user of userService.users">
            
            <div *ngIf="user.type === 'Plato fuerte'">
                
          <div class="card m-5" style="width: 18rem">
            <img src="{{user.file}}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{user.name}}</h5>
              <p class="card-text">
               {{user.description}}
              </p>
              <a  class="btn btn-primary"(click)='addProduct({name:user.name, description:user.description})'>Añadir al carrito</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    
    <h1 class="text-center mt-0 text-dark">Bebidas</h1>
    <div class="d-flex justify-content-center flex-wrap m-3">
        
        <div *ngFor="let user of userService.users">
            <div *ngIf="user.type === 'Bebidas'">  
          <div class="card m-5" style="width: 18rem">
            <img src="{{user.file}}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{user.name}}</h5>
              <p class="card-text">
               {{user.description}}
              </p>
              <a class="btn btn-primary"(click)='addProduct({name:user.name, description:user.description})'>Añadir al carrito</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      <h1 class="text-center m-4 text-dark">Vinos y Champagne</h1>
      <div class="d-flex justify-content-center flex-wrap m-3">

        <div *ngFor="let user of userService.users">
            <div *ngIf="user.type === 'Vino'">
                
          <div class="card m-5" style="width: 18rem">
            <img src="{{user.file}}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{user.name}}</h5>
              <p class="card-text">
               {{user.description}}
              </p>
              <a class="btn btn-primary"(click)='addProduct({name:user.name, description:user.description})'>Añadir al carrito</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      
      <h1 class="text-center mb-0 text-dark">Cervezas</h1>

      <div class="d-flex justify-content-center flex-wrap m-3">
        <div *ngFor="let user of userService.users">
            <div *ngIf="user.type === 'Cervezas'">
          <div class="card m-5" style="width: 18rem">
            <img src="{{user.file}}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{user.name}}</h5>
              <p class="card-text">
               {{user.description}}
              </p>
              <a  class="btn btn-primary"(click)='addProduct({name:user.name, description:user.description})'>Añadir al carrito</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      </section>