 <!-- Section de comida-->
 <h1 class="tit-1">Platos fuertes</h1>
 <section class="section d-flex justify-content-around align-content-stretch flex-wrap menuComida ">
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img src="/assets/IMG/COMIDA/sopa-aleta-tiburon-960x540.jpg" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Sopa De Aleta De Tiburon</h5>
                 <p class="card-text">
                     50 gr. de fibras de aleta de tiburón
                     1 filete de pechuga de pollo
                     2 setas chinas
                     1 l. de caldo de ave
                     1 yema de bambú
                     1 cucharada de salsa de soja
                     jengibre picado
                     pimienta
                     sal
                     ajinomoto y 1 cucharada de harina de maíz
                     $260.000</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img src="/assets/IMG/COMIDA/solomillo-de-buey-con-salsa-de-vino-tinto-y-verduras-salteadas-960x540.jpg"
                 class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Salomillo de buey</h5>
                 <p class="card-text">4 solomillos de buey, 50 gr. de cebollitas francesas, 50 gr. de espárragos
                     verdes, 1 calabacín, 50 gr. de zanahorias, 50 gr. de brócoli, sal, pimienta y aceite de oliva.
                     Para la salsa: 1 cebolla, 1 puerro, 1 zanahoria, 3 dientes de ajo, 2 cucharadas de harina de
                     maíz, ½ l. de caldo de carne, ½ l. de vino tinto, aceite de oliva y sal
                     $150.000</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img src="/assets/IMG/COMIDA/jabali-marinado-960x540.jpg" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Jabali Marinado</h5>
                 <p class="card-text">1 kg. de lomo limpio de jabalí
                     1 cebolla
                     1 zanahoria
                     2 hojas de laurel
                     4 dientes de ajo (machacados y sin pelar)
                     unos granos de pimienta en grano
                     una ramita de tomillo fresco
                     una ramita de romero fresco
                     ¼ litro de vino de oporto
                     ¼ litro de vino tinto
                     sal y aceite
                     $100.000</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img src="/assets/IMG/COMIDA/filetes-avestruz-960x540.jpg" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Filete de Avestruz</h5>
                 <p class="card-text">2 filetes de avestruz
                     200 gr. de champiñones frescos fileteados
                     1 cebolla
                     8 cucharadas de aceite de oliva
                     ½ cucharada de salsa de soja
                     1 pimiento rojo asado con refrito de ajo
                     sal y pimienta.
                     $70.000</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img src="/assets/IMG/COMIDA/faisan-setas-960x540.jpg" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Faisan con Setas</h5>
                 <p class="card-text">2 faisanes
                     500 gr. de setas
                     1 cebolla
                     1 cabeza de ajos
                     2 hojas de laurel
                     1 ramita de tomillo
                     2 clavos
                     10 granos de pimienta negra
                     2 vasos de agua
                     1 vaso de aceite de oliva
                     perejil y sal.
                     $50.000</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img src="/assets/IMG/COMIDA/estofado-jabali-960x540.jpg" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Estofado de jabali</h5>
                 <p class="card-text">1 kg. de carne de jabalí
                     3 patatas medianas
                     1 pera blanquilla
                     1 manzana goleen
                     1 zanahoria
                     1/2 cebolla grande
                     1 atadillo de hierbas aromáticas
                     1/2 vaso de aceite de oliva
                     1/2 botella de vino tinto
                     1 hoja de laurel
                     sal y pimienta.
                     $110.000</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img src="/assets/IMG/COMIDA/civet-jabali-960x540.jpg" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Civet de jabali</h5>
                 <p class="card-text">2 kg. de pierna de jabalí troceada
                     150 gr. de tocino
                     1 cebolla
                     2 zanahorias
                     4 dientes de ajo
                     1 apio
                     2 litros de vino tinto
                     1 vasito de brandy
                     caldo
                     harina
                     laurel
                     2 clavos
                     tomillo.
                     $130.000</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img src="/assets/IMG/COMIDA/ancas-rana-ajillo-960x540.jpg" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Ancas de rana al ajillo</h5>
                 <p class="card-text">24 ancas de rana
                     1 limón
                     1 dl de aceite de oliva 0´4º
                     2 dientes de ajo
                     sal
                     pimienta blanca y una ramita de perejil.
                     $260.000</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
 </section>


 <!--Section de bebida-->
 <h1 class="tit-1">Bebidas</h1>
 <section class="section d-flex justify-content-around align-content-stretch flex-wrap menuComida ">
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img src="/assets/IMG/BEBIDAS/agua-Manantial.jpg" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Agua Manantial Sin Gas</h5>
                 <p class="card-text">$3.500</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img src="/assets/IMG/BEBIDAS/Manantial-con-gas.jpg" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Agua Manantial Con Gas</h5>
                 <p class="card-text">$3.600</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img src="/assets/IMG/BEBIDAS/coca-cola-normal.png" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Coca Cola</h5>
                 <p class="card-text">$5.000</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img width="" height="" src="/assets/IMG/BEBIDAS/pack-coca-cola-zero-24-latas-nacional.jpg"
                 class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Coca Cola Zero</h5>
                 <p class="card-text">$5.000</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div width="" height="" class="card" style="width: 18rem;">
             <img src="/assets/IMG/BEBIDAS/sprite-lata.jpg" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Sprite</h5>
                 <p class="card-text">$4.000</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img src="/assets/IMG/BEBIDAS/fuze-tea-lata.jpg" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Fuze Tea Limon</h5>
                 <p class="card-text">$2.800</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img src="/assets/IMG/BEBIDAS/fuze-tea-lata-durazno.jfif" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Fuze Tea Durazno</h5>
                 <p class="card-text">$2.800</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
 </section>
 <!-- Section Bebidas Alcholicas-->
 <h1 class="tit-1">Vinos y Champagne</h1>
 <section class="section d-flex justify-content-around align-content-stretch flex-wrap menuComida ">
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img width="" height="" src="/assets/IMG/BEBIDAS/Montes_Alpha_Carmenere_r3kvzt.jpg" class="card-img-top"
                 alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Vino Tinto Carmenere Montes</h5>
                 <p class="card-text">Botella: $326.000</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img width="" height="" src="/assets/IMG/BEBIDAS/Vinos-tinto_cabo.jpg" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Vino Tinto Cabo De Hornos</h5>
                 <p class="card-text">Botella:$230.000</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img width="" height="" src="/assets/IMG/BEBIDAS/vino blanco undurraga.jpg" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Vino Blanco Undurraga</h5>
                 <p class="card-text">Botella:$120.000</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img width="" height="" src="/assets/IMG/BEBIDAS/Vinos-champa-C3-B1a_002196_1.jpg" class="card-img-top"
                 alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Champagne Moet</h5>
                 <p class="card-text">Botella: $246.000</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img width="" height="" src="/assets/IMG/BEBIDAS/veuve -chamapgne.jpg" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Champagne Veuve Clicquot Brut</h5>
                 <p class="card-text">Botella:$340.000</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img width="" height="" src="/assets/IMG/BEBIDAS/Vinos-champana_002107_1.jpg" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Champagne Moet</h5>
                 <p class="card-text">Botella:$310.000</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>


 </section>

 <h1 class="tit-1">Cervezas</h1>
 <section class="section d-flex justify-content-around align-content-stretch flex-wrap menuComida ">
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img width="" height="" src="/assets/IMG/BEBIDAS/cerveza-corona-extra-355ml.png" class="card-img-top"
                 alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Corona Extra</h5>
                 <p class="card-text">$7.100</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img width="" height="" src="/assets/IMG/BEBIDAS/stella artois-lata.png" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Stella Artois</h5>
                 <p class="card-text">$8.000</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
     <div class="m-3">
         <div class="card" style="width: 18rem;">
             <img width="" height="" src="/assets/IMG/BEBIDAS/heineken.png" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 id="btn-ordenar" class="card-title">Heineken</h5>
                 <p class="card-text">$8.000</p>
                 <a onclick="añadir()" href="#" class="btn btn-primary">Añandir a la Orden</a>
             </div>
         </div>
     </div>
 </section>
