
.section{
    background-color: #eeeee6;
}

.section a{
    transition: all 0.3s ease;
    overflow: hidden;
    background-color: #eeeee6;
    color: #000;
}

.section a:hover{
    background-color: rgb(0, 0, 0);
  color: #ffffff;
}

.btn-cart{
    background-color: #eeeee6;
    color: #000;
    border: 1px solid #000;
}

.btn-cart:hover {
    background-color: #000;
    color: #fff;
}
.btn-cart-container{
    display: flex;
    justify-content:flex-end;
    padding-top: 3rem;
    margin-right: 1rem;
    
}