
<section id="contact-container">
  <div class="contact-banner-container">
    <img class="contact-banner-image" src="/assets/images/UC-SLIDER-02-1640x620.png" alt="Second slide">
  </div>
  
  <!--form-->
  <div class="form-container mt-3">
    <div class="d-flex justify-content-center b-flex-column">
        <form #mainform="ngForm" class="contact-form border p-4">
            <div class="form-group">
                <h3>Estamos Dispuestos a Atenderte!</h3>
                <h4>Escribenos...</h4>
              <label for="exampleFormControlInput1">Tu Nombre</label>
              <input 
              #name="ngModel"
              [(ngModel)]="recepComentService.selectedComments.name"
              type="text" 
              class="form-control" 
              id="name"
              name="name">
              <label for="exampleFormControlInput1">Correo</label>
              <input 
              #name="ngModel"
              [(ngModel)]="recepComentService.selectedComments.email"
              type="email" 
              class="form-control" 
              id="name"
              name="email">
              <label for="exampleFormControlInput1">Asunto</label>
              <input 
              #name="ngModel"
              [(ngModel)]="recepComentService.selectedComments.subject"
              type="text" 
              class="form-control" 
              id="subject"
              name="subject">
            </div>
            
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Comentario</label>
              <textarea
              #name="ngModel"
              [(ngModel)]="recepComentService.selectedComments.body"
              class="form-control" 
              id="body"
              name="body" 
              rows="3">
            </textarea>
            </div>
            
            <button type="button" class="btn-submit-form btn col text-center"(click)="called(mainform)">Enviar</button>
            
            
          </form>
    </div>
  </div>
</section>






