<!-- Title -->
<div id="about">
  
  <div class="about-banner">
    <img class="about-banner-image" src="/assets/images/UC-SLIDER-05-1640x620.png" alt="">
  </div>

  <!--cards profile-->
  <!-- Cesar Santamaria -->
  <div class="c-container container">
    <h1 class="text-center mb-5"><strong>NUESTRO EQUIPO</strong></h1>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <h4 class="text-center"><strong>Scrum Master</strong></h4>
        <hr>
        <div class="profile-card-2"><img
            src="https://media.discordapp.net/attachments/869766756086972428/870447993357213722/profile-cesar.jpg?width=453&height=466"
            class="img img-responsive" width="470rem">
          <div class="profile-name">Cesar Santamaria</div>
          <div class="profile-username">@CesarSantamaria</div>
          <div class="profile-icons"><a href="/about"><i class="fab fa-facebook fa-fw"></i></a><a href="/about"><i
                class="fab fa-twitter fa-fw"></i></a><a href="/about"><i class="fab fa-linkedin fa-fw"></i></a></div>
        </div>
        <hr class="bg-light">
      </div>
      <!-- Freddy Ortega -->

      <div class="col-lg-3 col-md-6">
        <h4 class="text-center"><strong>Product Owner</strong></h4>
        <hr>
        <div class="profile-card-2"><img
            src="https://media.discordapp.net/attachments/869766756086972428/870459125929238569/unknown.png?width=410&height=467"
            class="img img-responsive" width="420rem">
          <div class="profile-name">Freddy Ortega</div>
          <div class="profile-username">@FreddyOrtega</div>
          <div class="profile-icons"><a href="/about"><i class="fab fa-facebook fa-fw"></i></a><a href="/about"><i
                class="fab fa-twitter fa-fw"></i></a><a href="/about"><i class="fab fa-linkedin fa-fw"></i></a></div>
        </div>
        <hr class="bg-light">
      </div>

      <!-- Sebastian Arévalo -->

      <div class="col-lg-3 col-md-6">
        <h4 class="text-center"><strong>Developer</strong></h4>
        <hr>
        <div class="profile-card-2"><img
            src="/assets/IMG/profile-photos/120348526_331503574789555_3229533685159718218_n.jpg"
            class="img img-responsive" width="470rem">
          <div class="profile-name">Sebastian Arévalo</div>
          <div class="profile-username">@SebastianArevalo</div>
          <div class="profile-icons"><a href="/about"><i class="fab fa-facebook fa-fw"></i></a><a href="/about"><i
                class="fab fa-twitter fa-fw"></i></a><a href="/about"><i class="fab fa-linkedin fa-fw"></i></a></div>
        </div>
        <hr class="bg-light">
      </div>

      <!-- Juan Corredor -->

      <div class="col-lg-3 col-md-6">
        <h4 class="text-center"><strong>Developer</strong></h4>
        <hr>
        <div class="profile-card-2"><img
            src="https://media.discordapp.net/attachments/869766756086972428/870452583603531826/image0.png?width=297&height=467"
            class="img img-responsive" width="300rem">
          <div class="profile-name">Juan Corredor</div>
          <div class="profile-username">@JuanCorredor</div>
          <div class="profile-icons"><a href="/about"><i class="fab fa-facebook fa-fw"></i></a><a href="/about"><i
                class="fab fa-twitter fa-fw"></i></a><a href="/about"><i class="fab fa-linkedin fa-fw"></i></a></div>
        </div>
        <hr class="bg-light">
      </div>
    </div>
  </div>