<nav class="navbar navbar-expand-lg navbar-dark">
    <a href="/home"><img class="navbar-logo img-fluid" src="/assets/images/Logo_UnCommon-(White).png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-items font-weight-bold" id="navbarTogglerDemo01">
        <div class="navbar-nav mr-auto">
            <span class="nav-item">
                <a class="nav-link text-light px-4" href="/menu">Menú</a>
            </span>
            <span class="nav-item">
                <a class="nav-link text-light px-4" href="/about">Nosotros</a>
            </span>
            <span class="nav-item">
                <a class="nav-link text-light px-4" href="/contact">Contactanos</a>
            </span>
        </div>
    </div>
</nav>